$midnight-blue: #00295c;
$green-hill: #00e062;
$azure-radiance: #0091ff;
$mine-shaft: #262626;
$persian-red: #d13737;
$jelly-bean: #75438a;
$blue-violet: #8400ff;
$whisper: #d6d6d6;
$rock-blue: #9ca5b3;
$blaze-orange: #fd7e14;
$midnight: #24303e;
$heather: #c0cad7;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$sunset: #ffce00;
$morning-sun: #ffe57f;
$white: #fff;
$black: #000;
$gray: #5f6266;
