@use './colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* Font families */
  --hls-font-family: 'Roboto', sans-serif;
  --hls-font-family-monospace: 'Roboto Mono', monospace;

  /* Font size */
  --hls-font-heading-size: 1.75rem;
  --hls-font-subheading-size: 1.5rem;
  --hls-font-title-size: 1.375rem;
  --hls-font-subtitle-size: 1.125rem;
  --hls-font-p-size: 0.75rem;
  --hls-font-caption-size: 0.625rem;

  /* Font weight */
  --hls-font-heading-weight: 900;
  --hls-font-subheading-weight: 700;
  --hls-font-title-weight: 600;
  --hls-font-subtitle-weight: 500;
  --hls-font-p-weight: 400;
  --hls-font-caption-weight: 300;

  /* Button size */
  --hls-button-height: 56px;
  --hls-button-border-radius: 4px;

  /* Button styling */
  --hls-button-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  /* Button coloring */
  --hls-button-background-primary: #{$azure-radiance};
  --hls-button-background-secondary: #{$white};

  /* Header styling */
  --hls-header-height: var(--hls-header-height-wide);
  --hls-header-height-narrow: 3rem;
  --hls-header-height-wide: 6rem;
  --hls-header-background-color: var(--hls-color-light);

  /* Footer styling */
  --hls-footer-height: 3.5rem;
  --hls-footer-background-color: var(--hls-color-light);

  /* Desktop sizes */
  --hls-desktop-width: 500px;

  /* Background coloring */
  --hls-background-color: var(--hls-color-light);

  /* Ripple coloring */
  --hls-ripple-color: var(--hls-ripple-color-light);
  --hls-ripple-color-light: var(--hls-color-light);
  --hls-ripple-color-dark: var(--hls-color-soft-light);

  /* Ripple styling */
  --hls-ripple-speed: var(--hls-ripple-speed-normal);
  --hls-ripple-speed-slow: 1s;
  --hls-ripple-speed-normal: 0.5s;
  --hls-ripple-speed-fast: 0.25s;

  /* Article styling */
  --hls-article-height: calc(var(--vh, 1vh) * 30);

  /* Svg coloring */
  --hls-svg-animal-active-color: #{$blue-violet};
  --hls-svg-heart-outer-color: #{$black};
  --hls-svg-heart-inner-color: #{$white};
  --hls-svg-heart-active-color: #{$persian-red};
  --hls-svg-liked-outer-color: #b3404a;
  --hls-svg-liked-inner-color: #f5827e;

  /* Color palette */
  --hls-color-soft-light: #{$whisper};
  --hls-color-light: #{$white};
  --hls-color-soft-dark: #{$gray};
  --hls-color-dark: #{$black};

  --hls-color-info: #{$azure-radiance};
  --hls-color-caution: #{$sunset};
  --hls-color-warning: #{$blaze-orange};
  --hls-color-danger: #{$persian-red};
  --hls-color-success: #{$green-hill};

  /* Color aliases */
  --hls-color-primary: var(--hls-color-info);
  --hls-color-secondary: var(--hls-color-caution);
  --hls-color-tertiary: var(--hls-color-success);
}
