:host {
  display: grid;
  height: calc(var(--vh, 1vh) * 100);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'body'
    'footer';

  .body {
    grid-area: body;
    overflow: auto;
    transition: height 0.5s ease-in-out;
    height: calc(
      var(--vh, 1vh) * 100 -
        (var(--hls-header-height) + var(--hls-footer-height))
    );
    background-color: var(--hls-background-color);

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
