TEXT TYPES :
<hls-text type="heading">this is a heading</hls-text>
<hls-text type="subheading">this is a subheading</hls-text>
<hls-text type="title">this is a title</hls-text>
<hls-text type="subtitle">this is a subtitle</hls-text>
<hls-text type="p">this is a p</hls-text>
<hls-text type="caption">this is a caption</hls-text>
<hls-text type="subtitle" [ellipsis]="true"> {{'this is an ellipsis text--'.repeat(30)}}
</hls-text>
<hls-text type="subtitle" [pointer]="true" testId="pointer_text"> this is an pointer text
</hls-text>
<hls-text type="subtitle" [underline]="true" testId="underline_text">this is an underline text
</hls-text>

<button hls-raised-button hlsRipple>Ripple raised button</button> <br>
<button hls-button color="primary">simple primary button</button> <br>
<button hls-button color="secondary">simple secondary button</button> <br>
<button hls-button color="tertiary">simple tertiary button</button> <br>
<button hls-button color="warning">simple warning button</button> <br>
<button hls-button color="danger">simple danger button</button> <br>
<button hls-button color="light">simple light button</button> <br>
<button hls-button>simple button</button> <br>
<button hls-outlined-button>outlined button</button> <br>
<button hls-outlined-button [disabled]="true">disabled button</button>