TEXT TYPES :
<hls-text type="heading">this is a heading</hls-text>
<hls-text type="subheading">this is a subheading</hls-text>
<hls-text type="title">this is a title</hls-text>
<hls-text type="subtitle">this is a subtitle</hls-text>
<hls-text type="p">this is a p</hls-text>
<hls-text type="caption">this is a caption</hls-text>
<hls-text type="subtitle" [ellipsis]="true"> {{'this is an ellipsis text--'.repeat(30)}}
</hls-text>
<hls-text type="subtitle" [pointer]="true" testId="pointer_text"> this is an pointer text
</hls-text>
<hls-text type="subtitle" [underline]="true" testId="underline_text">this is an underline text
</hls-text>

<button hls-raised-button hlsRipple>Ripple raised button</button> <br>
<button hls-button color="primary">simple primary button</button> <br>
<button hls-button color="secondary">simple secondary button</button> <br>
<button hls-button color="tertiary">simple tertiary button</button> <br>
<button hls-button color="warning">simple warning button</button> <br>
<button hls-button color="danger">simple danger button</button> <br>
<button hls-button color="light">simple light button</button> <br>
<button hls-button>simple button</button> <br>
<button hls-outlined-button>outlined button</button> <br>
<button hls-outlined-button [disabled]="true">disabled button</button>

<div class="icons" (click)="onLike()">
    <svg-icon class="heart" [class.liked]="liked" name="heart" attr.testId="heart">
    </svg-icon>
    <svg-icon class="question-mark" [class.question-mark]="liked" name="question-mark" attr.testId="question-mark">
    </svg-icon>
</div>

<div class="icons">
    <svg-icon class="amazed" name="amazed" attr.testId="amazed">
    </svg-icon>
    <svg-icon class="crying" name="crying" attr.testId="crying">
    </svg-icon>
    <svg-icon class="embarrassed" name="embarrassed" attr.testId="embarrassed">
    </svg-icon>
    <svg-icon class="happiness" name="happiness" attr.testId="happiness">
    </svg-icon>
    <svg-icon class="indifferent" name="indifferent" attr.testId="indifferent">
    </svg-icon>
    <svg-icon class="laughing" name="laughing" attr.testId="laughing">
    </svg-icon>
</div>

<div class="icons">
    <svg-icon class="cat" name="cat" attr.testId="cat">
    </svg-icon>
    <svg-icon class="dog" name="dog" attr.testId="dog">
    </svg-icon>
</div>

<div class="icons">
    <img src="../../assets/image/cat-dog.png" alt="cat-dog">
</div>

<div class="icons">
    <img src="https://cdn2.thecatapi.com/images/G35Hlveey.jpg" alt="cat">
</div>