:host {
  $types: heading, subheading, title, subtitle, p, span, caption;

  @each $type in $types {
    &[data-type='#{$type}'] ::ng-deep {
      font-size: var(--hls-font-#{$type}-size);
      font-weight: var(--hls-font-#{$type}-weight);
    }
  }
}

:host(.hls-text-disabled) {
  opacity: 0.5;
}

:host(.hls-text-ellipsis) {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:host(.hls-text-underline) {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

:host(.hls-text-pointer) {
  cursor: pointer;
}
